result/weekly/data_collection/bearing_test_section_00_source_test_normal_0022_vel_9_loc_A.wav
result/weekly/data_collection/bearing_test_section_00_source_test_normal_0022_vel_9_loc_A.wav.json
result/weekly/data_collection/bearing_test_section_00_target_test_anomaly_0021_vel_8_loc_G.wav
result/weekly/data_collection/bearing_test_section_00_target_test_anomaly_0021_vel_8_loc_G.wav.json
result/weekly/data_collection/bearing_train_section_00_source_train_normal_0046_vel_21_loc_A.wav
result/weekly/data_collection/bearing_train_section_00_source_train_normal_0046_vel_21_loc_A.wav.json
result/weekly/data_collection/bearing_train_section_00_source_train_normal_0742_vel_16_loc_A.wav
result/weekly/data_collection/bearing_train_section_00_source_train_normal_0742_vel_16_loc_A.wav.json
result/weekly/data_collection/fan_test_section_00_source_test_anomaly_0022_m-n_W.wav
result/weekly/data_collection/fan_test_section_00_source_test_anomaly_0022_m-n_W.wav.json
result/weekly/data_collection/fan_test_section_00_target_test_normal_0021_m-n_Y.wav
result/weekly/data_collection/fan_test_section_00_target_test_normal_0021_m-n_Y.wav.json
result/weekly/data_collection/fan_train_section_00_source_train_normal_0040_m-n_X.wav
result/weekly/data_collection/fan_train_section_00_source_train_normal_0040_m-n_X.wav.json
result/weekly/data_collection/fan_train_section_00_source_train_normal_0397_m-n_X.wav
result/weekly/data_collection/fan_train_section_00_source_train_normal_0397_m-n_X.wav.json
result/weekly/data_collection/gearbox_test_section_00_source_test_normal_0026_volt_1.5_wt_150.wav
result/weekly/data_collection/gearbox_test_section_00_source_test_normal_0026_volt_1.5_wt_150.wav.json
result/weekly/data_collection/gearbox_test_section_00_target_test_anomaly_0040_volt_1.5_wt_130.wav
result/weekly/data_collection/gearbox_test_section_00_target_test_anomaly_0040_volt_1.5_wt_130.wav.json
result/weekly/data_collection/gearbox_train_section_00_source_train_normal_0073_volt_1.5_wt_0.wav
result/weekly/data_collection/gearbox_train_section_00_source_train_normal_0073_volt_1.5_wt_0.wav.json
result/weekly/data_collection/gearbox_train_section_00_source_train_normal_0616_volt_1.5_wt_50.wav
result/weekly/data_collection/gearbox_train_section_00_source_train_normal_0616_volt_1.5_wt_50.wav.json
result/weekly/data_collection/slider_test_section_00_source_test_normal_0027_vel_730_ac_0.11.wav
result/weekly/data_collection/slider_test_section_00_source_test_normal_0027_vel_730_ac_0.11.wav.json
result/weekly/data_collection/slider_test_section_00_target_test_normal_0013_vel_620_ac_0.08.wav
result/weekly/data_collection/slider_test_section_00_target_test_normal_0013_vel_620_ac_0.08.wav.json
result/weekly/data_collection/slider_train_section_00_source_train_normal_0853_vel_500_ac_0.30.wav
result/weekly/data_collection/slider_train_section_00_source_train_normal_0853_vel_500_ac_0.30.wav.json
result/weekly/data_collection/slider_train_section_00_source_train_normal_0959_vel_490_ac_0.05.wav
result/weekly/data_collection/slider_train_section_00_source_train_normal_0959_vel_490_ac_0.05.wav.json
result/weekly/data_collection/ToyCar_test_section_00_source_test_normal_0028_car_C2_spd_34V_mic_1.wav
result/weekly/data_collection/ToyCar_test_section_00_source_test_normal_0028_car_C2_spd_34V_mic_1.wav.json
result/weekly/data_collection/ToyCar_test_section_00_source_test_normal_0029_car_C2_spd_34V_mic_1.wav
result/weekly/data_collection/ToyCar_test_section_00_source_test_normal_0029_car_C2_spd_34V_mic_1.wav.json
result/weekly/data_collection/ToyCar_train_section_00_source_train_normal_0362_car_C2_spd_31V_mic_1.wav
result/weekly/data_collection/ToyCar_train_section_00_source_train_normal_0362_car_C2_spd_31V_mic_1.wav.json
result/weekly/data_collection/ToyCar_train_section_00_source_train_normal_0835_car_D2_spd_34V_mic_1.wav
result/weekly/data_collection/ToyCar_train_section_00_source_train_normal_0835_car_D2_spd_34V_mic_1.wav.json
result/weekly/data_collection/ToyTrain_test_section_00_target_test_anomaly_0015_car_A2_spd_6_mic_2.wav
result/weekly/data_collection/ToyTrain_test_section_00_target_test_anomaly_0015_car_A2_spd_6_mic_2.wav.json
result/weekly/data_collection/ToyTrain_test_section_00_target_test_normal_0049_car_E2_spd_9_mic_2.wav
result/weekly/data_collection/ToyTrain_test_section_00_target_test_normal_0049_car_E2_spd_9_mic_2.wav.json
result/weekly/data_collection/ToyTrain_train_section_00_source_train_normal_0385_car_C2_spd_7_mic_1.wav
result/weekly/data_collection/ToyTrain_train_section_00_source_train_normal_0385_car_C2_spd_7_mic_1.wav.json
result/weekly/data_collection/ToyTrain_train_section_00_source_train_normal_0977_car_D2_spd_10_mic_1.wav
result/weekly/data_collection/ToyTrain_train_section_00_source_train_normal_0977_car_D2_spd_10_mic_1.wav.json
result/weekly/data_collection/valve_test_section_00_target_test_anomaly_0044_pat_03.wav
result/weekly/data_collection/valve_test_section_00_target_test_anomaly_0044_pat_03.wav.json
result/weekly/data_collection/valve_test_section_00_target_test_normal_0044_pat_03.wav
result/weekly/data_collection/valve_test_section_00_target_test_normal_0044_pat_03.wav.json
result/weekly/data_collection/valve_train_section_00_source_train_normal_0095_pat_01.wav
result/weekly/data_collection/valve_train_section_00_source_train_normal_0095_pat_01.wav.json
result/weekly/data_collection/valve_train_section_00_source_train_normal_0206_pat_01.wav
result/weekly/data_collection/valve_train_section_00_source_train_normal_0206_pat_01.wav.json
data_collection_simulation.log
data_transfer_to_gcs.log
result/weekly/data_collection/bearing_test_section_00_source_test_normal_0022_vel_9_loc_A.wav
result/weekly/data_collection/bearing_test_section_00_source_test_normal_0022_vel_9_loc_A.wav.json
result/weekly/data_collection/bearing_test_section_00_target_test_anomaly_0021_vel_8_loc_G.wav
result/weekly/data_collection/bearing_test_section_00_target_test_anomaly_0021_vel_8_loc_G.wav.json
result/weekly/data_collection/bearing_train_section_00_source_train_normal_0046_vel_21_loc_A.wav
result/weekly/data_collection/bearing_train_section_00_source_train_normal_0046_vel_21_loc_A.wav.json
result/weekly/data_collection/bearing_train_section_00_source_train_normal_0742_vel_16_loc_A.wav
result/weekly/data_collection/bearing_train_section_00_source_train_normal_0742_vel_16_loc_A.wav.json
result/weekly/data_collection/fan_test_section_00_source_test_anomaly_0022_m-n_W.wav
result/weekly/data_collection/fan_test_section_00_source_test_anomaly_0022_m-n_W.wav.json
result/weekly/data_collection/fan_test_section_00_target_test_normal_0021_m-n_Y.wav
result/weekly/data_collection/fan_test_section_00_target_test_normal_0021_m-n_Y.wav.json
result/weekly/data_collection/fan_train_section_00_source_train_normal_0040_m-n_X.wav
result/weekly/data_collection/fan_train_section_00_source_train_normal_0040_m-n_X.wav.json
result/weekly/data_collection/fan_train_section_00_source_train_normal_0397_m-n_X.wav
result/weekly/data_collection/fan_train_section_00_source_train_normal_0397_m-n_X.wav.json
result/weekly/data_collection/gearbox_test_section_00_source_test_normal_0026_volt_1.5_wt_150.wav
result/weekly/data_collection/gearbox_test_section_00_source_test_normal_0026_volt_1.5_wt_150.wav.json
result/weekly/data_collection/gearbox_test_section_00_target_test_anomaly_0040_volt_1.5_wt_130.wav
result/weekly/data_collection/gearbox_test_section_00_target_test_anomaly_0040_volt_1.5_wt_130.wav.json
result/weekly/data_collection/gearbox_train_section_00_source_train_normal_0073_volt_1.5_wt_0.wav
result/weekly/data_collection/gearbox_train_section_00_source_train_normal_0073_volt_1.5_wt_0.wav.json
result/weekly/data_collection/gearbox_train_section_00_source_train_normal_0616_volt_1.5_wt_50.wav
result/weekly/data_collection/gearbox_train_section_00_source_train_normal_0616_volt_1.5_wt_50.wav.json
result/weekly/data_collection/slider_test_section_00_source_test_normal_0027_vel_730_ac_0.11.wav
result/weekly/data_collection/slider_test_section_00_source_test_normal_0027_vel_730_ac_0.11.wav.json
result/weekly/data_collection/slider_test_section_00_target_test_normal_0013_vel_620_ac_0.08.wav
result/weekly/data_collection/slider_test_section_00_target_test_normal_0013_vel_620_ac_0.08.wav.json
result/weekly/data_collection/slider_train_section_00_source_train_normal_0853_vel_500_ac_0.30.wav
result/weekly/data_collection/slider_train_section_00_source_train_normal_0853_vel_500_ac_0.30.wav.json
result/weekly/data_collection/slider_train_section_00_source_train_normal_0959_vel_490_ac_0.05.wav
result/weekly/data_collection/slider_train_section_00_source_train_normal_0959_vel_490_ac_0.05.wav.json
result/weekly/data_collection/ToyCar_test_section_00_source_test_normal_0028_car_C2_spd_34V_mic_1.wav
result/weekly/data_collection/ToyCar_test_section_00_source_test_normal_0028_car_C2_spd_34V_mic_1.wav.json
result/weekly/data_collection/ToyCar_test_section_00_source_test_normal_0029_car_C2_spd_34V_mic_1.wav
result/weekly/data_collection/ToyCar_test_section_00_source_test_normal_0029_car_C2_spd_34V_mic_1.wav.json
result/weekly/data_collection/ToyCar_train_section_00_source_train_normal_0362_car_C2_spd_31V_mic_1.wav
result/weekly/data_collection/ToyCar_train_section_00_source_train_normal_0362_car_C2_spd_31V_mic_1.wav.json
result/weekly/data_collection/ToyCar_train_section_00_source_train_normal_0835_car_D2_spd_34V_mic_1.wav
result/weekly/data_collection/ToyCar_train_section_00_source_train_normal_0835_car_D2_spd_34V_mic_1.wav.json
result/weekly/data_collection/ToyTrain_test_section_00_target_test_anomaly_0015_car_A2_spd_6_mic_2.wav
result/weekly/data_collection/ToyTrain_test_section_00_target_test_anomaly_0015_car_A2_spd_6_mic_2.wav.json
result/weekly/data_collection/ToyTrain_test_section_00_target_test_normal_0049_car_E2_spd_9_mic_2.wav
result/weekly/data_collection/ToyTrain_test_section_00_target_test_normal_0049_car_E2_spd_9_mic_2.wav.json
result/weekly/data_collection/ToyTrain_train_section_00_source_train_normal_0385_car_C2_spd_7_mic_1.wav
result/weekly/data_collection/ToyTrain_train_section_00_source_train_normal_0385_car_C2_spd_7_mic_1.wav.json
result/weekly/data_collection/ToyTrain_train_section_00_source_train_normal_0977_car_D2_spd_10_mic_1.wav
result/weekly/data_collection/ToyTrain_train_section_00_source_train_normal_0977_car_D2_spd_10_mic_1.wav.json
result/weekly/data_collection/valve_test_section_00_target_test_anomaly_0044_pat_03.wav
result/weekly/data_collection/valve_test_section_00_target_test_anomaly_0044_pat_03.wav.json
result/weekly/data_collection/valve_test_section_00_target_test_normal_0044_pat_03.wav
result/weekly/data_collection/valve_test_section_00_target_test_normal_0044_pat_03.wav.json
result/weekly/data_collection/valve_train_section_00_source_train_normal_0095_pat_01.wav
result/weekly/data_collection/valve_train_section_00_source_train_normal_0095_pat_01.wav.json
result/weekly/data_collection/valve_train_section_00_source_train_normal_0206_pat_01.wav
result/weekly/data_collection/valve_train_section_00_source_train_normal_0206_pat_01.wav.json
result/weekly/data_collection/bearing_test_section_00_source_test_normal_0022_vel_9_loc_A.wav
result/weekly/data_collection/bearing_test_section_00_source_test_normal_0022_vel_9_loc_A.wav.json
result/weekly/data_collection/bearing_test_section_00_target_test_anomaly_0021_vel_8_loc_G.wav
result/weekly/data_collection/bearing_test_section_00_target_test_anomaly_0021_vel_8_loc_G.wav.json
result/weekly/data_collection/bearing_train_section_00_source_train_normal_0046_vel_21_loc_A.wav
result/weekly/data_collection/bearing_train_section_00_source_train_normal_0046_vel_21_loc_A.wav.json
result/weekly/data_collection/bearing_train_section_00_source_train_normal_0742_vel_16_loc_A.wav
result/weekly/data_collection/bearing_train_section_00_source_train_normal_0742_vel_16_loc_A.wav.json
result/weekly/data_collection/fan_test_section_00_source_test_anomaly_0022_m-n_W.wav
result/weekly/data_collection/fan_test_section_00_source_test_anomaly_0022_m-n_W.wav.json
result/weekly/data_collection/fan_test_section_00_target_test_normal_0021_m-n_Y.wav
result/weekly/data_collection/fan_test_section_00_target_test_normal_0021_m-n_Y.wav.json
result/weekly/data_collection/fan_train_section_00_source_train_normal_0040_m-n_X.wav
result/weekly/data_collection/fan_train_section_00_source_train_normal_0040_m-n_X.wav.json
result/weekly/data_collection/fan_train_section_00_source_train_normal_0397_m-n_X.wav
result/weekly/data_collection/fan_train_section_00_source_train_normal_0397_m-n_X.wav.json
result/weekly/data_collection/gearbox_test_section_00_source_test_normal_0026_volt_1.5_wt_150.wav
result/weekly/data_collection/gearbox_test_section_00_source_test_normal_0026_volt_1.5_wt_150.wav.json
result/weekly/data_collection/gearbox_test_section_00_target_test_anomaly_0040_volt_1.5_wt_130.wav
result/weekly/data_collection/gearbox_test_section_00_target_test_anomaly_0040_volt_1.5_wt_130.wav.json
result/weekly/data_collection/gearbox_train_section_00_source_train_normal_0073_volt_1.5_wt_0.wav
result/weekly/data_collection/gearbox_train_section_00_source_train_normal_0073_volt_1.5_wt_0.wav.json
result/weekly/data_collection/gearbox_train_section_00_source_train_normal_0616_volt_1.5_wt_50.wav
result/weekly/data_collection/gearbox_train_section_00_source_train_normal_0616_volt_1.5_wt_50.wav.json
result/weekly/data_collection/slider_test_section_00_source_test_normal_0027_vel_730_ac_0.11.wav
result/weekly/data_collection/slider_test_section_00_source_test_normal_0027_vel_730_ac_0.11.wav.json
result/weekly/data_collection/slider_test_section_00_target_test_normal_0013_vel_620_ac_0.08.wav
result/weekly/data_collection/slider_test_section_00_target_test_normal_0013_vel_620_ac_0.08.wav.json
result/weekly/data_collection/slider_train_section_00_source_train_normal_0853_vel_500_ac_0.30.wav
result/weekly/data_collection/slider_train_section_00_source_train_normal_0853_vel_500_ac_0.30.wav.json
result/weekly/data_collection/slider_train_section_00_source_train_normal_0959_vel_490_ac_0.05.wav
result/weekly/data_collection/slider_train_section_00_source_train_normal_0959_vel_490_ac_0.05.wav.json
result/weekly/data_collection/ToyCar_test_section_00_source_test_normal_0028_car_C2_spd_34V_mic_1.wav
result/weekly/data_collection/ToyCar_test_section_00_source_test_normal_0028_car_C2_spd_34V_mic_1.wav.json
result/weekly/data_collection/ToyCar_test_section_00_source_test_normal_0029_car_C2_spd_34V_mic_1.wav
result/weekly/data_collection/ToyCar_test_section_00_source_test_normal_0029_car_C2_spd_34V_mic_1.wav.json
result/weekly/data_collection/ToyCar_train_section_00_source_train_normal_0362_car_C2_spd_31V_mic_1.wav
result/weekly/data_collection/ToyCar_train_section_00_source_train_normal_0362_car_C2_spd_31V_mic_1.wav.json
result/weekly/data_collection/ToyCar_train_section_00_source_train_normal_0835_car_D2_spd_34V_mic_1.wav
result/weekly/data_collection/ToyCar_train_section_00_source_train_normal_0835_car_D2_spd_34V_mic_1.wav.json
result/weekly/data_collection/ToyTrain_test_section_00_target_test_anomaly_0015_car_A2_spd_6_mic_2.wav
result/weekly/data_collection/ToyTrain_test_section_00_target_test_anomaly_0015_car_A2_spd_6_mic_2.wav.json
result/weekly/data_collection/ToyTrain_test_section_00_target_test_normal_0049_car_E2_spd_9_mic_2.wav
result/weekly/data_collection/ToyTrain_test_section_00_target_test_normal_0049_car_E2_spd_9_mic_2.wav.json
result/weekly/data_collection/ToyTrain_train_section_00_source_train_normal_0385_car_C2_spd_7_mic_1.wav
result/weekly/data_collection/ToyTrain_train_section_00_source_train_normal_0385_car_C2_spd_7_mic_1.wav.json
result/weekly/data_collection/ToyTrain_train_section_00_source_train_normal_0977_car_D2_spd_10_mic_1.wav
result/weekly/data_collection/ToyTrain_train_section_00_source_train_normal_0977_car_D2_spd_10_mic_1.wav.json
result/weekly/data_collection/valve_test_section_00_target_test_anomaly_0044_pat_03.wav
result/weekly/data_collection/valve_test_section_00_target_test_anomaly_0044_pat_03.wav.json
result/weekly/data_collection/valve_test_section_00_target_test_normal_0044_pat_03.wav
result/weekly/data_collection/valve_test_section_00_target_test_normal_0044_pat_03.wav.json
result/weekly/data_collection/valve_train_section_00_source_train_normal_0095_pat_01.wav
result/weekly/data_collection/valve_train_section_00_source_train_normal_0095_pat_01.wav.json
result/weekly/data_collection/valve_train_section_00_source_train_normal_0206_pat_01.wav
result/weekly/data_collection/valve_train_section_00_source_train_normal_0206_pat_01.wav.json
data_collection_simulation.log
data_transfer_to_gcs.log
mldocker-key-gcp.json
